@import "~/assets/styles/themes/theme.css";
@import "~/assets/styles/fontePadrao.css";
@import "~/styles/fixtures/vuetify.fix.css";

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.svg-fill-text path {
  fill: rgb(var(--sisgha-theme-text));
}

html {
  overflow: auto;
}
