CODEOWNERS                          @ladesa-ro/security

.github/**/*                        @ladesa-ro/security
.husky/**/*                         @ladesa-ro/security
.vscode/**/*                        @ladesa-ro/security

.docker/**/*                        @ladesa-ro/security @ladesa-ro/devops
.deploy/**/*                        @ladesa-ro/security @ladesa-ro/devops

.gitignore                          @ladesa-ro/security
src/.npmrc                          @ladesa-ro/security

src/nx.json                         @ladesa-ro/security
src/package.json                    @ladesa-ro/security
src/pnpm*                           @ladesa-ro/security

