.ui-accordion-select {
  border: 2px solid var(--ladesa-grey-color);
  border-radius: var(--ui-radius-lg);
}

.ui-accordion-select--open {
  border-color: var(--ladesa-green-2-color);
}

.ui-accordion-select__trigger {
  padding: var(--ui-space-3);
}

@media (min-width: 640px) {
  .ui-accordion-select__trigger {
    padding: var(--ui-space-4);
    font-size: 1.125rem;
  }
}

.ui-accordion-select__trigger--disabled {
  color: var(--ladesa-grey-color);
  cursor: not-allowed;
}

.ui-accordion-select__trigger--enabled {
  color: var(--ladesa-text-default-color);
}

.ui-accordion-select__arrow {
  transition: transform var(--ui-duration-base) var(--ui-easing-standard);
}

.ui-accordion-select__arrow--open {
  transform: rotate(90deg);
}

.ui-accordion-select__arrow--closed {
  transform: rotate(-90deg);
}

.ui-accordion-select__arrow--disabled {
  color: var(--ladesa-grey-color);
}

.ui-accordion-select__arrow--enabled {
  color: var(--ladesa-text-green-color);
}

.ui-accordion-select__content {
  margin: var(--ui-space-3);
  margin-top: 0;
  max-width: 100%;
  min-width: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

@media (min-width: 640px) {
  .ui-accordion-select__content {
    margin: var(--ui-space-4);
    margin-top: 0;
  }
}
