.ui-button-square {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: var(--ui-radius-lg);
  background-color: var(--ladesa-green-1-color);
}

.ui-button-square:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--ladesa-grey-color);
}

.ui-button-square__content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ladesa-white-color);
  width: 1.5rem;
  height: 1.5rem;
}

.ui-button-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--ladesa-grey-color);
  border-radius: var(--ui-radius-lg);
  background-color: transparent;
}

.ui-button-search__icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.125rem;
}

.ui-button-edit {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-radius-lg);
  transition: background-color var(--ui-duration-fast) var(--ui-easing-standard);
}

.ui-button-edit:hover {
  background-color: rgb(from var(--ladesa-grey-color) R G B / 30%);
}

.ui-button-edit__icon {
  color: var(--ladesa-text-default-color);
  width: 2.625rem;
  height: 2.625rem;
}

.ui-button-events-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border: 2px solid var(--ladesa-green-1-color);
  background-color: rgb(from var(--ladesa-green-1-color) R G B / 10%);
  border-radius: var(--ui-radius-lg);
  color: var(--ladesa-text-green-color);
  font-size: 0.875rem;
  font-weight: var(--ui-font-weight-semibold);
  width: 100%;
}

@media (min-width: 640px) {
  .ui-button-events-list {
    font-size: 1rem;
  }
}

.ui-button-events-list__icon {
  width: 1.125rem;
}

@media (min-width: 640px) {
  .ui-button-events-list__icon {
    width: 1.25rem;
  }
}
