.ui-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--ladesa-text-default-color);
}

.ui-checkbox-label:last-child {
  margin-bottom: 0;
}

.ui-checkbox-label--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ui-checkbox-item--full {
  width: 100%;
}

.ui-checkbox-square-wrapper {
  border-radius: var(--ui-radius-full);
  --ui-checkbox-shadow-color: rgb(from var(--ladesa-green-2-color) R G B / 10%);
}

.ui-checkbox-square-wrapper:focus-within,
.ui-checkbox-square-wrapper:hover {
  box-shadow: 0 0 0 0.35rem var(--ui-checkbox-shadow-color);
}

.ui-checkbox-square-wrapper:focus-within {
  background-color: var(--ui-checkbox-shadow-color);
}

.ui-checkbox-square {
  display: flex;
  border: 2px solid;
  border-radius: var(--ui-radius-sm);
  width: 1.375rem;
  height: 1.375rem;
}

.ui-checkbox-square:hover {
  background-color: rgb(from var(--ladesa-green-2-color) R G B / 10%);
}

.ui-checkbox-square:focus-visible {
  outline: 2px solid var(--ladesa-green-2-color);
  outline-offset: 2px;
}

.ui-checkbox-square--active {
  border-color: var(--ladesa-green-2-color);
}

.ui-checkbox-square--inactive {
  border-color: var(--ladesa-grey-color);
}

.ui-checkbox-square__check {
  flex: 1 1 0%;
  background-color: var(--ladesa-green-2-color);
  padding: 0.25rem 0.25rem 0.375rem;
}

.ui-checkbox-square__check-icon {
  color: var(--ladesa-white-color);
}
