.ui-progress-circular {
  border-radius: var(--ui-radius-full);
  border: 7px solid var(--ladesa-green-1-color);
  border-top-color: rgb(from var(--ladesa-green-1-color) R G B / 20%);
  animation: ui-progress-circular-spin 1s linear infinite;
}

@keyframes ui-progress-circular-spin {
  to {
    transform: rotate(360deg);
  }
}
