.ui-report-lesson__header {
  padding: 1.06rem;
  border: 2px solid var(--ladesa-grey-color);
  border-top-left-radius: var(--ui-radius-lg);
  border-top-right-radius: var(--ui-radius-lg);
  background-color: var(--ladesa-green-1-color);
  color: var(--ladesa-white-color);
}

.ui-report-lesson__title {
  font-size: 0.6875rem;
}

.ui-report-lesson__count {
  font-size: 0.625rem;
  color: rgb(from var(--ladesa-white-color) R G B / 25%);
}

.ui-report-lesson__more {
  padding: 0.4rem;
  cursor: pointer;
  border-left: 2px solid var(--ladesa-grey-color);
  border-right: 2px solid var(--ladesa-grey-color);
  border-bottom: 2px solid var(--ladesa-grey-color);
  border-bottom-left-radius: var(--ui-radius-lg);
  border-bottom-right-radius: var(--ui-radius-lg);
  background-color: rgb(from var(--ladesa-grey-color) R G B / 25%);
}

.ui-report-lesson__more-label {
  font-size: 0.6875rem;
}
