.ui-api-list-results-grid {
  display: grid;
  gap: 1rem;
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3;
}

.ui-api-list-results-grid > * {
  grid-column: 1/-1;
}

.ui-api-list-results-grid .ui-api-list-results-grid-item {
  grid-column: auto;
}
