/*
  ABOUT app.css:
  this file is the only one imported by nuxt.config and app.vue, so all the general application styles must be imported here. 
*/

@import 'tailwindcss';
@import './themes/theme.css' layer(theme); /*oi*/
@import '~/assets/styles/fonts/fonts.css';
@import '~/assets/styles/fixtures/vuetify.fix.css';

@custom-variant dark (&:where(.dark, .dark *));

/* FIXME: remover após retirar o vuetify */
html {
  overflow-y: hidden !important;
}
/* ------------------------------------- */

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* fallback para caso o dispositivo não suporte dvh */
  height: 100dvh;

  background-color: var(--ladesa-background-color);
  color: var(--ladesa-text-default-color);
}

input {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

/* icons style */

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

.svg-fill-text path {
  fill: rgb(var(--ladesa-text-default-color));
}

.-icon-black {
  filter: invert(0%);
}

.-icon-white {
  filter: invert(100%);
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--ladesa-green-1-color);
  opacity: 0.5;
  border-radius: 50px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ladesa-green-1-color);
  border-radius: 50px;
  cursor: pointer;
}
