.-icon-black {
  filter: invert(0%);
}

.-icon-white {
  filter: invert(100%);
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-ldsa-green-1/50;
  border-radius: 50px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  @apply bg-ldsa-green-1;
  border-radius: 50px;
  cursor: pointer;
}
