.ui-api-list-results-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .ui-api-list-results-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .ui-api-list-results-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.ui-api-list-results-grid > * {
  grid-column: 1 / -1;
}

.ui-api-list-results-grid .ui-api-list-results-grid-item {
  grid-column: auto;
}

.ui-api-list-results-grid--auto-fill {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
}
