@reference "~/assets/styles/app.css";

.input-base {
  @apply relative flex justify-between items-center px-3 w-full min-h-12 border-2 rounded-lg;
  @apply font-medium text-left text-ldsa-text-default data-[placeholder]:text-ldsa-grey/90;
  @apply focus-within:border-ldsa-green-2 focus-visible:outline-none disabled:cursor-not-allowed;
}

.input-base {
  @apply border-ldsa-grey;

  label {
    @apply text-ldsa-grey;
  }
}

.input-base:is([data-open], [data-state='open'], :focus-within) {
  @apply border-ldsa-green-2;

  label {
    @apply text-ldsa-green-2;
  }
}

.input-base label {
  @apply absolute inline bottom-9 left-5 bg-ldsa-bg px-1 text-[0.813rem] font-semibold;
}

.input-base ::placeholder {
  @apply font-medium text-ldsa-grey;
}

.input-base-content {
  @apply overflow-hidden shadow-[0_0_10px_rgba(0,0,0,0.4)] rounded-lg bg-ldsa-bg;
}

.input-base:has(input[disabled]) {
  @apply opacity-60;
}

.input-base.has-error {
  @apply border-ldsa-red;
}

.input-base.has-error:focus-within {
  @apply border-ldsa-red;
}

.input-base.has-error label {
  @apply text-ldsa-red;
}

/* tipo cor */
.input-base input[type='color'] {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-appearance: none; 
  appearance: none;
  padding-top: 1rem;
}

.input-base input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

.input-base input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 0.5rem;
  height: 80%;
  width: 100%;
}

/* Firefox */
.input-base input[type='color']::-moz-color-swatch {
  border: none;
  border-radius: 0.5rem;
  height: 80%;
  width: 100%;
}
