.-icon-black {
  filter: invert(0%);
}

.-icon-white {
  filter: invert(100%);
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #9ab69e;
  border-radius: 50px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: rgb(22 163 74);
  border-radius: 50px;
  cursor: pointer;
}
