/*
  SOME CONSIDERATIONS:
  1. the colors classification follows the material.io convention. check it out in https://m3.material.io/styles/color/roles
  2. the color names in the comments correspond to the color names on Figma prototype
  3. in case of doubts, check the color palette on Figma avaible in https://www.figma.com/design/gwJHnj5RVnjt05AdOQNMy5/SISGHA---V2.0?node-id=7660-18059
*/

.app-color-mode-light {
  /* primary */
  --internal-ladesa-primary-color: 47, 158, 65; /* Green 1 */

  /* secondary */
  --internal-ladesa-secondary-color: 60, 192, 82; /* Green 2 */

  /* tertiary */
  --internal-ladesa-tertiary-grey-color: 159, 159, 159;
  --internal-ladesa-tertiary-red-color: 205, 25, 30; /* Red */
  --internal-ladesa-tertiary-purple-color: 83, 0, 166; /* Purple */

  /* surface */
  --internal-ladesa-surface-color: 255, 255, 255; /* White */
  --internal-ladesa-on-surface-color: 5, 15, 7; /* Dark green */

  /*ATTENTION! the variables below are effectively used in this project. be carefull if you change something*/
  /* general colors */
  --ladesa-green-1-color: var(--internal-ladesa-primary-color);
  --ladesa-green-2-color: var(--internal-ladesa-secondary-color);
  --ladesa-white-color: var(--internal-ladesa-surface-color);
  --ladesa-grey-color: var(--internal-ladesa-tertiary-grey-color);
  --ladesa-red-color: var(--internal-ladesa-tertiary-red-color);
  --ladesa-purple-color: var(--internal-ladesa-tertiary-purple-color);

  /* specific colors */
  /* background */
  --ladesa-background-color: var(--internal-ladesa-surface-color);

  /* text */
  --ladesa-text-default-color: var(--internal-ladesa-on-surface-color);

  /* button radio / toggle */
  --ladesa-toggle-active-background-color: var(--ladesa-green-1-color), 0.1;
  --ladesa-toggle-active-text-color: var(--ladesa-green-1-color);

  /* disabled items */
  --ladesa-disabled-background-color: var(--ladesa-gray-color);
  --ladesa-disabled-text-color: var(--ladesa-gray-color);

  /* error */
  --ladesa-error-background-color: var(--ladesa-red-color), 0.1;
}

.app-color-mode-dark {
  /* primary */
  --internal-ladesa-primary-color: 6, 100, 54; /* Green 1 */

  /* secondary */
  --internal-ladesa-secondary-color: 29, 147, 90; /* Green 2 */

  /* tertiary */
  --internal-ladesa-tertiary-grey-1-color: 72, 83, 105; /* Light blue 1 -> border */
  --internal-ladesa-tertiary-grey-2-color: 85, 93, 110; /* Light blue 2 -> text */
  --internal-ladesa-tertiary-red-color: 160, 15, 37; /* Red */
  --internal-ladesa-tertiary-purple-color: 81, 29, 140; /* Purple */

  /* surface */
  --internal-ladesa-surface-color: 25, 27, 34; /* Dark blue */
  --internal-ladesa-on-surface-color: 208, 208, 208; /* Light grey */

  /*ATTENTION! the variables below are effectively used in this project. be carefull if you change something*/
  /* general colors */
  --ladesa-green-1-color: var(--internal-ladesa-primary-color);
  --ladesa-green-2-color: var(--internal-ladesa-secondary-color);
  --ladesa-white-color: var(--internal-ladesa-on-surface-color);
  --ladesa-grey-color: var(--internal-ladesa-tertiary-grey-1-color);
  --ladesa-grey-2-color: var(
    --internal-ladesa-tertiary-grey-2-color
  ); /* exists only in dark mode -> used on texts */
  --ladesa-red-color: var(--internal-ladesa-tertiary-red-color);
  --ladesa-purple-color: var(--internal-ladesa-tertiary-purple-color);

  /* specific colors */
  /* background */
  --ladesa-background-color: var(--internal-ladesa-surface-color);

  /* text */
  --ladesa-text-default-color: var(--internal-ladesa-on-surface-color);

  /* button radio / toggle */
  --ladesa-toggle-active-background-color: var(--ladesa-green-1-color), 0.1;
  --ladesa-toggle-active-text-color: var(--ladesa-green-2-color);

  /* disabled items */
  --ladesa-disabled-background-color: var(--ladesa-gray-color);
  --ladesa-disabled-text-color: var(--ladesa-gray-2-color);

  /* error */
  --ladesa-error-background-color: var(--ladesa-red-color), 0.1;
}

.app {
  @apply !bg-ldsa-bg !text-ldsa-text;

  display: flex;
  flex-direction: column;

  height: 100vh; /* fallback para caso o dispositivo não suporte dvh */
  height: 100dvh;
}

input {
  color: inherit;
}
