.card {
  overflow: hidden;
  margin-inline: auto;
  padding-bottom: var(--ui-space-5);
  cursor: default;
  border: 2px solid var(--ladesa-grey-color);
  border-style: solid;
  border-radius: var(--ui-radius-lg);
}
